body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4; /* Neutral background color */
}

.container {
    text-align: center;
    margin-top: -50px; /* Move the container slightly up */
}

h1 {
    font-size: 24px;
    color: #333; /* Neutral text color */
    margin-bottom: 20px; /* Add some spacing below the title */
}

.search-box {
    background-color: #ffffff; /* Neutral box color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 100%;
    padding: 15px;
    margin: 0; /* Remove margin */
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    text-align: center; /* Center text within the input */
}

button {
    background-color: #333; /* Neutral button color */
    color: #fff; /* Button text color */
    padding: 15px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px; /* Add some spacing above the button */
}

button:hover {
    background-color: #555; /* Button color on hover */
}
